# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

### Working with Premitive Data Types

In [ ]:
x=4    # Int
y=2.2   # float
z=x*y   # float

print(x)
print(y)
print(z)

4
2.2
8.8

In [ ]:
print(x-y)   # gives representation err (as o/p 1.7999999...8 instead of 1.8)
 
print(x*y)
print(x/y)

1.7999999999999998
8.8
1.8181818181818181

In [ ]:
## Strings
String1 = "Brown "
String2 = 'Fox '

print(String1)
print(String2)

Brown
Fox

In [ ]:
prefix = "A Quick "
end="Jumps over the lazy dog!"

full = prefix+String1+String2+end
full

'A Quick Brown Fox Jumps over the lazy dog!'

In [ ]:
len(full)

String1[0] # B
prefix[2:] # Quick 
String1 + String2
prefix * 3  # 'A Quick ' thrice

'A Quick A Quick A Quick '

In [ ]:
# Alnum

x = 4 # x is int
y = '4' # y is char
z = '2'

print(y+z)

42

In [ ]:
strEdu="book & pen"
strEdu.find('pen')

7

In [ ]:
# Boolean
v1 = 6
v2 = 7

print(v1 == strEdu.find('pen'))  ## from above, position is found
print(v2 == strEdu.find('pen'))  ## this is false

False
True

In [ ]:
print(type(x))
print(type(z))
print(type(v1))
print(type(2.45))

type('boy')

<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>

str

### Working with Non-Premitive Data Types

#### Type Casting

In [ ]:
# implicit

x = 4
y = 2.9

z = x+y

print(z)
type(z)

6.9

float

In [ ]:
# explicit
x=2
y=" States"

#book = x+y  # gives     TypeError: unsupported operand type(s) for +: 'int' and 'str'

book = str(x) + y  # explicit conversion
print(book)
type(book)

2 States

str

#### Dictionary

In [ ]:
## are key value pairs
x_dict = {'name':'Ravi','course':'M.Sc. Computer Science', 'major':"Cyber Security"}
print(x_dict)

{'name': 'Ravi', 'course': 'M.Sc. Computer Science', 'major': 'Cyber Security'}

In [ ]:
print(x_dict['major'])
del x_dict['course']   # deleting

print(x_dict)

Cyber Security
{'name': 'Ravi', 'major': 'Cyber Security'}

In [ ]:
x_dict["sem"] = '1st'
# x_dict

print(x_dict['sem'])

1st

#### Tuples
(they are immutable)

In [ ]:
tup = (1,2,3,5)
t2 = 1,2,3,4,6

print(type(tup))
print(tup)
print(tup[2])
print(len(tup))

print("t2 is also : "+str(type(t2)))

<class 'tuple'>
(1, 2, 3, 5)
3
4
t2 is also : <class 'tuple'>

In [ ]:
newTup = ('l','0','l')
newTup

('l', '0', 'l')

In [ ]:
## As tuples are immutable...

#del newTup[2]   ## TypeError: 'tuple' object doesn't support item deletion

#### Linked List
(linear data str)

In [1]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None
    
  def printList(self):
    temp=self.head
    while(temp):
      print(temp.data)
      temp = temp.next


###   Implementation

if __name__ == "__main__":
  llist = LinkedList()

  llist.head = Node(1)
  second = Node(2)
  third = Node(3)

  llist.head.next = second
  second.next = third
  llist.printList()

1
2
3

---

# Experiments:

In [ ]:
## Linked List Construction

class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None
    
  def printList(self):
    temp=self.head
    while(temp):
      print(temp.data)
      temp = temp.next

## to add data
  def addNode(self):
    tempData = input("Enter the data: ")
    self.data = tempData
    self.next = None

## to delete the element(s)

## to count the elements

In [ ]:
###   Implementation

if __name__ == "__main__":
  llist = LinkedList()

  llist.head = Node(1)
  second = Node(2)
  third = Node(3)

  llist.head.next = second
  second.next = third
  llist.printList()

1
2
3